doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/vendor/html2canvas.js")
    script(src="/vendor/html2canvas.svg.js")
    script(src="/main.js")
  body
    != yield
